*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 27vw;
    height: 75vh;
    background-color: white;
    border-radius: 20px;
    border-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    
}
.input_box{
    width: 100%;
    height: 25px;
    border-radius:10px ;
}

.title{
    text-align: center;
    
}
.no_dop{
    display: flex;
    justify-content: space-between;
}

.country_code{
    display: flex;
    justify-content: space-between;
}

.checkbox{
    display: flex;
    justify-content: space-around;
     
}
.btn{
    width: 50%;
    height: 30px;
    background-color: aqua;
    border-radius:10px ;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 110px;


}
.btn:hover{
    background-color: lightblue;

    
}
.title{
    font-size: 30px;
    font-weight: bold;
}